<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PI2.Properties.Settings.calculoSuspensaoConnectionString"
            connectionString="Data Source=DESKTOP-RTCVLH9;Initial Catalog=calculoSuspensao;User ID=sa;Password=senhasa@1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>